<div class="container">
  <mat-card class="search-options-card">
    <mat-card-content id="search-options-card-content">
      <button mat-button
              aria-label="Botão para desfazer a busca realizada anteirormente"
              (click)="fetchAllProducts()">
        <mat-icon>
          undo
        </mat-icon>
        <span>Desfazer</span>
      </button>
      <div class="search-container">
        <input type="text" name="search" id="search-box"
               placeholder="O que você deseja comprar?"
               aria-label="Caixa de entrada de texto para buscar por produtos na loja"
               #inputBuscaProduto>
        <div id="search-button-container">
          <button mat-icon-button
                  aria-label="Botão para buscar por produtos com a descrição digitada antes"
                  (click)="searchProductByName(inputBuscaProduto.value)">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <button mat-button [matMenuTriggerFor]="menuCategorias"
              aria-label="Botão que expande um menu com as categoria que podem ser selecionadas">
        <mat-icon>category</mat-icon>
        Categorias
      </button>
      <mat-menu #menuCategorias>
        <button mat-menu-item *ngFor="let categoria of listCategorias()"
                (click)="filtrarProdutosPorCategoria(categoria)">{{ categoria }}
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuOrdenacao">
        <mat-icon>sort</mat-icon>
        Ordenar
      </button>

      <mat-menu #menuOrdenacao>
        <button mat-menu-item (click)="ordenarPorPreco('ascendente')">por preço (ascendente)</button>
        <button mat-menu-item (click)="ordenarPorPreco('descendente')">por preço (descendente)</button>
        <button mat-menu-item (click)="ordenarPorNome('ascendente')">por nome (ascendente)</button>
        <button mat-menu-item (click)="ordenarPorNome('descendente')">por nome (descendente)</button>
      </mat-menu>
    </mat-card-content>
  </mat-card>

  <div class="inner-container">
    <mat-grid-list
      [cols]="numberOfCols"
      gutterSize="20px"
      rowHeight="350px"
      id="products-grid"
    >
      <mat-grid-tile *ngFor="let product of productsInfo" class="grid-tile">
        <mat-card class="product-card">
          <img
            mat-card-image
            src="{{ product.urlDaImagem }}"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="card-content">
            <p class="product-description">
              <span>{{
                  product.nome.length > 50
                    ? product.nome.slice(0, 35) + "..."
                    : product.nome
                }}</span>
              <span>Cód:{{ product.id }}</span>
            </p>
            <p class="product-value-info">
              <span class="price">R{{ product.preco | currency }}</span>
              <span class="installments"
              >4x de R{{ product.preco / 4 | currency }} s/ juros</span
              >
            </p>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-button>Detalhes</button>
            <button mat-icon-button (click)="addProductToCart(product)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
