@import '../../../styles.scss';

.product-card {
  display: flex;
  flex-flow: column wrap;
  height: min(300px, 300px);
  width: min(200px, 200px);
}

#products-grid {
  height: 100%;
  width: max(70%, 365px);
}

mat-card img {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.inner-container {
  width: max(85%, 470px);
  max-width: 1222px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding-top: 20px;
  background-color: white;
}

.grid-tile {
  padding-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $light-gray;
}

.price {
  font-size: $fs-x-large;
  font-weight: bold;
}

.card-content {
  position: relative;
  height: 40%;
}

.card-actions {
  height: 20%;
}

.installments {
  font-size: $fs-x-small;
}

.product-value-info {
  height: 35%;
  display: flex;
  flex-direction: column;
}

.product-description {
  display: flex;
  align-items: center;
  height: 65%;
}