<mat-card>
  <mat-card-content>
    <h1>Produtos</h1>
  </mat-card-content>
</mat-card>

<div class="container">
  <div class="inner-container">
    <mat-grid-list [cols]="numberOfCols" gutterSize="5px" rowHeight="300px" id="products-grid">
    
      <mat-grid-tile *ngFor="let product of productsInfo" class="grid-tile">
    
        <mat-card class="product-card">
          <img mat-card-image src="https://images.unsplash.com/photo-1463554050456-f2ed7d3fec09?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="product-description">
              <span>{{product.nome.length > 50 ? product.nome.slice(0, 40) + '...' : product.nome}}</span>
            </p>
            <p class="product-value-info">
              <span class="price">R{{product.preco | currency}}</span>
              <span class="installments">4x de R{{product.preco / 4 | currency}} s/ juros</span>
            </p>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
    
      </mat-grid-tile>
      
    </mat-grid-list>
  </div>
</div>

