<div>
  <h1>{{titulo}}</h1>
  <p>_____________________________________________________________________</p>
</div>

<div id="opcoesMenu" fxLayout="row" fxLayoutGap="32px">
      <button [routerLink]="">
        <h2>Clientes</h2>
        <mat-icon>group</mat-icon>
        <p class="legendaBotao">Clique para acessar Banco Clientes</p>
      </button>

    <button [routerLink]="['/listagem-produto']">
      <h2>Produtos</h2>
      <mat-icon>shopping_cart</mat-icon>
      <p class="legendaBotao"> Clique para acessar área de Produtos</p>
    </button>

  <button [routerLink]="">
    <h2>Pedidos</h2>
    <mat-icon>shopping_bag</mat-icon>
    <p class="legendaBotao">Clique para acessar área de Pedidos</p>
  </button>

</div>

