<div class="loginForm">
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Login Administrativo</h2>
        <mat-form-field>
          <!-- [(ngModel)]="login" -->
        <input matInput placeholder="Login" name="username" required>
          <mat-error>
            Por favor Insira um Login Válido
          </mat-error>
        </mat-form-field>
        <div>
          <mat-form-field>
            <!-- [(ngModel)]="senha" -->
            <input matInput type="password" placeholder="Senha" name="password" required>
            <mat-error>
              Por favor Insira uma Senha Válida
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Acessar</button>
      </form>
    </mat-card-content>
</mat-card>
</div>
