<mat-sidenav-container *ngIf="!isDesktop && !isAdminScreen()" autosize>
  <mat-sidenav-content>
    <nav>
      <mobile-menu></mobile-menu>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="isDesktop && !isAdminScreen()">
  <nav>
    <app-desktop-menu></app-desktop-menu>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<div *ngIf="isAdminScreen()">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
