#cart-sidenav {
  width: min(90%, 370px);
}

#cart-header {
  display: flex;
  padding: 0.45em 40px 0 40px;
  gap: 30px;
}

#cart-title {
  padding-top: 0.75em;
}

#close-button {
  position: absolute;
  top: 0.45em;
  right: 0.45em;
}

#cart-content {
  padding: 0 40px;
}

mat-card img.cart-product-img {
  object-fit: cover;
  width: 90px;
  height: auto;
}

.card-info-container {
  display: flex;
  gap: 10px;
}

.card-text-content {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-weight: bold;
}

.card-total-amount {
  display: flex;
}

#cart-finalize-order {
  display: flex;
  justify-content: center;
}