<mat-sidenav #sidenav id="cart-sidenav" mode="over" position="end">
  <div id="cart-header">
    <button mat-icon-button (click)="closeSidenav()" id="close-button">
      <mat-icon> close </mat-icon>
    </button>
    <h2 id="cart-title">Meu carrinho</h2>
  </div>
  <div class="divider-container">
    <mat-divider class="cart-divider"></mat-divider>
  </div>
  <div id="cart-content">
    <div id="cart-product-cards-container">
      <mat-card *ngFor="let product of cartProducts">
        <mat-card-content class="product-card-content">
          <div class="card-info-container">
            <img
              mat-card-image
              class="cart-product-img"
              src="{{ product.imageUrl }}"
            />
            <p class="card-text-content">
              <span class="product-title">{{
                product.nome!.length > 25
                  ? product.nome?.slice(0, 25) + "..."
                  : product.nome
              }}</span>
              <span class="product-quantity"
                >Qtd: {{ product.quantidade }}</span
              >
              <span class="product-price">R{{ product.preco | currency }}</span>
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-icon-button
            type="button"
            (click)="removeProductFromCart(product.id!)"
          >
            <mat-icon> delete </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="divider-container">
      <mat-divider class="cart-divider"></mat-divider>
    </div>

    <div id="cart-total-amount">
      <span id="total-amount-title">Valor total</span>
      <div class="space-between">
        <span>PIX:</span>
        <span>R{{ totalValue | currency }}</span>
      </div>
      <div class="space-between">
        <span>Cartão:</span>
        <span>4x de R{{ totalValue / 4 | currency }}</span>
      </div>
    </div>
  </div>

  <div id="cart-finalize-order">
    <button mat-button (click)="createNewOrder()">Finalizar pedido</button>
  </div>
</mat-sidenav>
