<app-carrinho
  [show]="showShoppingCart"
  (sidenavClosed)="onShoppingCartClosed()"
  (productAdded)="onProductAdded($event)"
></app-carrinho>

<mat-toolbar>
  <mat-toolbar-row class="navbar-container bg-sl-green">
    <div class="logo-container">
      <a href="#">
        <img src="../../../assets/icons/pot.svg" alt="Icon of a little pot with a plant inside of it"
         width="64" height="64">
      </a>
    </div>
    <div class="search-container">
      <input type="text" name="search" id="search-box"
      placeholder="O que você deseja comprar?"
      aria-label="Caixa de entrada de texto para buscar por produtos na loja">
      <div id="search-button-container">
        <button mat-icon-button
         arial-label="Botão para buscar por produtos com a descrição digitada antes">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="user-options">
      <button mat-icon-button>
        <mat-icon class="icon-display">
          account_circle
        </mat-icon>
      </button>
      <button
        mat-icon-button
        class="flex-button"
        aria-label="Example icon-button with share icon"
        (click)="showShoppingCart = !showShoppingCart"
      >
        <mat-icon [matBadge]="productsInShoppingCartCount"
          matBadgeSize="small">shopping_cart</mat-icon
        >
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="justify-center" id="category-options">
    <button mat-button class="category-bttn" *ngFor="let categoria of categorias">
      {{categoria}}
    </button>
  </mat-toolbar-row>
</mat-toolbar>