<div>
    <form [formGroup]="produtoForm">
      <mat-card class="card-cadastro">
        <mat-card-content>
          <p>Nome</p>
            <input formControlName="nome" matInput placeholder="Digite o Nome do Produto">
          <br><br>
          <p>Categoria</p>
            <input formControlName="categoria" matInput placeholder="Digite a Categoria">
          <br><br>
          <p>Preço</p>
            <input formControlName="preco" matInput placeholder="Digite o Preço">
          <br><br>
          <p>Quantidade</p>
            <input formControlName="quantidade" matInput placeholder="Digite a Quantidade">
            <br><br>
            <p>Imagem</p>
            <input formControlName="imageUrl" matInput placeholder="Digite a URL da Imagem">
        </mat-card-content>
        <mat-card-actions>
          <button id="acaoModalCadastrar" mat-raised-button color="primary" [mat-dialog-close]="" >Cancelar</button>
          <button mat-raised-button color="primary" (click)="produtoEditar()" [mat-dialog-close]="">Editar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
