/* You can add global styles to this file, and also import other style files */

:root {
    /* .*-sl-green */
    --slightly-lighter-green: #A3CF36;
    /* .*-l-green */
    --lighter-green: #5CE06A;
    /* .*-r-green */
    --regular-green: #11C10E;
    /* .*-d-green */
    --dark-green: #31661D;
    /* .*-b-green */
    --blueish-green: #33C4A5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-sl-green {
    background-color: var(--slightly-lighter-green);
}